.Modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}


.Modal__container {
  position: relative;
  min-height: 60px;
  min-width: 100px;
  border-radius: 3px;
  min-width: 100px;
  background-color: var(--tertiary-color);
  z-index: 2;
}

.Modal__close {
  box-sizing: border-box;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
}

.Modal__close-button {
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: inherit;
  z-index: 5;
}

.Modal__close-button:hover {
  color: rgba(0, 0, 0, 1);
}




.Modal.m-color-1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.Modal.m-color-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.Modal.m-color-3 {
  background-color: rgba(0, 0, 0, 0.3);
}

.Modal.m-color-4 {
  background-color: rgba(0, 0, 0, 0.4);
}

.Modal.m-color-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal.m-color-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal.m-color-7 {
  background-color: rgba(0, 0, 0, 0.7);
}

.Modal.m-color-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.Modal.m-color-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.Modal.m-color-10 {
  background-color: black;
}