.Kanban {
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px 20px 0;
  width: fit-content;
  min-width: 100%;
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  column-gap: 1em;
  justify-content: center;
}


.Kanban__addList-option {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  padding-left: .8em ;
  line-height: 30px;
  text-align: left;
  color: rgb(71, 71, 71);
  background-color: rgba(97, 97, 97, 0.3);
  border-radius: 3px;
  cursor: pointer;
}
.Kanban__addList-add {
  background-color: var(--cardList-background);
  padding: .8em .5em;
  box-shadow: 0 1px 5px -2px rgba(0, 0,0, 0.8);
}

.Kanban__addList-add input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--primary-color);
  line-height: 2em;
  padding: 0 0 0 10px;
  margin-bottom: 8px;
  outline: none;
}

.Kanban__addList-option:hover {
  background-color: rgba(97, 97, 97, 0.5);
}
