:root {
  --primary-color:#004990;
  --secondary-color:#f7a11a;
  --tertiary-color: #fff;
  --primary-text-color: #fff;

  /*cardList*/
  --cardList-background: #ebecf0;
  --header-height: 60px;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* botones */

.btn {
  cursor: pointer;
  border: none;
  color: white;
  padding: .7em;
  border-radius: 3px;
  box-shadow: inset 0 -.2em rgba(0, 0,0, 0.3);
  transition-duration: 10ms;
  transition-timing-function: ease-in;
  will-change: transform;
  outline: none;
}

.btn.btn-primary {
  background-color: #3faf3f;
}

.btn.btn-primary:focus {
  background-color: #3faf3f;
}

.btn.btn-danger {
  background-color: rgb(255, 31, 31);
}

.btn:active {
  box-shadow: inset 0 -.1em rgba(0, 0,0, 0.3);
  transform: translateY(.1em);
}

